.db/data/
.idea
.nyc_output/
.serverless
.vscode
coverage/
.data/
dist/
node_modules/
src/config/static/
temp/*

*.html
.lintstagedrc.js
*-rendered.*
.env
bin/machine-target-visualization
CHANGELOG.md
docs/swagger-resolved.yaml
packer-manifest.json
package-lock.json
package.json
